<div id="<%= dom_id retrospective %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= retrospective.title %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this retrospective", retrospective, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this retrospective', edit_retrospective_path(retrospective), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
